<div class="row">
    <div class="col-lg-12">
        <h1>Pokyny:</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3>Pokyny pro účastníky víkendového pobytu v Zóně (verze 1.0):</h3>
        <p>Pokyny mohou být měněny až do začátku víkendu. Nová verze pokynů bude mít nové číslo (opravy překlepů a chyb nemající
            významový vliv nebudou brány jako změna).</p>

        <ol>
            <li>
                <p>Pořádání akce je putovní. Jeden ze dvou nejlepších týmů má tu čest organizovat příští ročník. Tým, který
                    si podle pravidel odnese z vyhlášení výsledků Sovu, se stává organizátorem pro příští ročník.</p>
            </li>

            <li>
                <p>Víkendového pobytu se účastní 3-4 členné smíšené týmy (minimálně jedna žena), které splní následující podmínky:</p>
                <ul>
                    <li>Přihlášení v daném termínu</li>
                    <li>Uhrazení startovního poplatku a dalších nákladů dle objednávky v daném termínu</li>
                    <li>Potvrzení účasti ze strany pořadatele</li>
                    <li>Souhlasí s těmito pokyny a dalšími pravidly</li>
                </ul>
                <p></p>
            </li>

            <li>
                <p>Pobytu se smí účastnit jen osoby starší 18 let, osoby mladší pak pouze s dospělým doprovodem. Děti do 10
                    let jdoucí s týmem jako doprovod nejsou počítány mezi členy týmu.</p>
            </li>

            <li>
                <p>Akce se koná za každého počasí a situace v Zóně. </p>
            </li>

            <li>
                <p>Program začíná v pátek úvodním večerem cca ve 20:00, kterého by se měli zúčastnit vždy alespoň 3 členové
                    týmu. Je možné, že velkou výhodou bude, aby alespoň jeden účastník byl na místě již cca 1 hodinu před
                    zahájením. Přesný časový harmonogram bude zveřejněn v předstihu před odjezdem.</p>
            </li>

            <li>
                <p>
                    Vlastní celodenní prohlídka Zóny proběhne v sobotu a bude se řídit zvláštními pravidly, která týmy obdrží nejpozději v rámci
                    úvodního večera.
                </p>
            </li>

            <li>
                <p>Prohlídky Zóny se každý účastní za svůj tým. Pokud není uvedeno jinak, je zakázáno sdílet informace či jinak
                    spolupracovat s jinými týmy. </p>
            </li>

            <li>
                <p>Přesuny v Zóně probíhají pěšky, je zakázáno používat jakýkoliv jiný dopravní prostředek, pokud není pořadatelem
                    výslovně povolena výjimka.</p>
            </li>

            <li>
                <p>Je možné, že pro pobyt v Zóně týmy budou potřebovat speciální pomůcky, nebo že naopak budou některé předměty
                    zakázány. Tato povinná/doporučená /zakázaná výbava bude upřesněna nejpozději 10 dní před pobytem.
                </p>
            </li>

            <li>
                <p>
                    Tým, který záměrně poruší tato pravidla a pravidla fair-play, může být penalizován, v případě závažného porušení z prohlídky
                    diskvalifikován, případně z pobytu vyloučen.
                </p>
            </li>

            <li>
                <p>Organizátoři si vyhrazují právo pravidla průběžně doplňovat, měnit či upravit i v průběhu hry v případě neočekávaných
                    událostí, zejména kvůli zachování fair play.</p>
            </li>

            <li>
                <p>CK Muhugames nemá uzavřeno žádné pojištění, takže se pobytu každý účastní dobrovolně a na vlastní nebezpečí.</p>
            </li>

            <li>
                <p>Organizátoři jsou svině, v lepším případě jenom svině převlečené za kamarády.</p>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3>Pravidla pro pobyt v Zóně (verze 1.0):</h3>
        <p>... zde budou zveřejněna další pravidla nutná pro pobyt v Zóně, nejpozději 10 dní před zahájením víkendového pobytu
            ...</p>
    </div>
</div>