<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1>Registrace:</h1>

            <p>Údaje označené
                <span style="font-size: 15pt; margin-left: 5px; color:red;">*</span> jsou povinné.</p>
        </div>
    </div>

    <!-- <form id="emailForm" #emailForm class="form-horizontal" 
        data-fv-framework="bootstrap" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove"
        data-fv-icon-validating="glyphicon glyphicon-refresh">

        <div class="form-group">
            <label class="col-xs-3 control-label">Email address</label>
            <div class="col-xs-7">
                <input type="text" class="form-control" name="email" data-fv-emailaddress="true" data-fv-emailaddress-message="The value is not a valid email address"
                />
            </div>
        </div>
    </form> -->

    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm"  
        data-fv-framework="bootstrap" 
        data-fv-icon-valid="glyphicon glyphicon-ok"
        data-fv-icon-invalid="glyphicon glyphicon-remove"
        data-fv-icon-validating="glyphicon glyphicon-refresh">
        <div class="row">
            <div class="col-lg-12">
                <h3>Registrační údaje týmu:</h3>

                <div class="col-md-6">
                    <div class="form-group required" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                        <label class="col-md-4 control-label" for="name">Název týmu:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required />
                        </div>
                        <div class="col-md-8 help-block" *ngIf="f.submitted && !name.valid">Název týmu je povinný</div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group required" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                        <label class="col-md-4 control-label" for="email">Email:</label>
                        <div class="col-md-8">
                            <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required 
                            data-fv-emailaddress-message="The value is not a valid email address" />
                        </div>
                        <div class="col-md-8 help-block" *ngIf="f.submitted && !email.valid">Email je povinný</div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group required" [ngClass]="{ 'has-error': f.submitted && !login.valid }">
                        <label class="col-md-4 control-label" for="login">Login:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="login" [(ngModel)]="model.login" #login="ngModel" required />
                        </div>
                        <div class="col-md-8 help-block" *ngIf="f.submitted && !login.valid">Login je povinný</div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group required" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        <label class="col-md-4 control-label" for="password">Heslo</label>
                        <div class="col-md-8">
                            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                        </div>
                        <div *ngIf="f.submitted && !password.valid" class="col-md-8 help-block">Heslo je povinné</div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <br/>
                        <button [disabled]="loading" class="btn btn-primary">Zaregistrovat</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                        />
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Účastníci (nejméně 3)</strong>
                </div>
                <div class="panel-body">
                    Tralalala
                </div>
            </div>
        </div>
    </div> -->

</div>