@import '../../../../assets/sass/_variables';
.panel {
    background-color: $color-grey;
    border-color: $color-black;
}

.panel-body {
    background-color: $color-darkgrey;
    border-color: $color-black;
    padding: 15px;
}

.panel-default>.panel-heading {
    background-color: $color-grey;
    border-color: $color-darkgrey;
}

.form-group.required .control-label::after {
    font-weight: bold;
    content: "*";
    font-size: 15pt;
    margin-left: 5px;
    color: #a94442;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 4px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 4px solid #a94442;
    /* red */
}

.help-block {
    margin: 0px;
    font-size: small;
}

ng-select {
    margin-bottom: 5px;
}

.red {
    color: #a94442;
    font-weight: bold;
}

.vertical-align {
    display: flex;
    align-items: center;
}