@import '../../../../assets/sass/_variables';

.form-group.required .control-label::after {
    font-weight: bold;
    content: "*";
    font-size: 15pt;
    margin-left: 5px;
    color: #a94442;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 8px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 8px solid #a94442;
    /* red */
}

.help-block {
    margin: 0px;
    font-size: small;
}

ng-select, input {
    margin-bottom: 5px;
}

.red {
    color: #a94442;
    font-weight: bold;
}

ul > li {
    text-align: justify;
}

.vertical-align {
    display: flex;
    align-items: center;
}

textarea {
    color: $color-black;
}