@import '../../../../assets/sass/_variables';
.panel {
    background-color: $color-grey;
    border-color: $color-black;
}

.panel-body {
    background-color: $color-darkgrey;
    border-color: $color-black;
    padding: 15px;
}

.panel-default>.panel-heading {
    background-color: $color-grey;
    border-color: $color-darkgrey;
}

.control-label {
    padding-bottom: 5px;
}

.form-group.required {
    .control-label::after {
        font-weight: bold;
        content: "*";
        font-size: 15pt;
        margin-left: 5px;
        color: red;
    }
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}