<h1>Kontakt:</h1>

<h3>Cestovní kancelář MUHUGAMES, u.b.r.</h3>

<div class="col-md-6">
    <div class="row">
        <div class="col-md-4">ředitel:</div>
        <div class="col-md-8">Tomáš Zatrapa</div>
    </div>
    <div class="row">
        <div class="col-md-4">tiskový mluvčí:</div>
        <div class="col-md-8">Jiří Novák</div>
    </div>
    <div class="row">
        <div class="col-md-4">delegáti:</div>
        <div class="col-md-8">Jana Nováková, Lukáš Benda</div>
    </div>
    <div class="row">
        <div class="col-md-4">email:</div>
        <div class="col-md-8">
            <a href="mailto:muhugame2018@gmail.com">muhugame2018@gmail.com</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">telefon:</div>
        <div class="col-md-8">792 245 960</div>
    </div>
    <div class="row">
        <div class="col-md-4">tým:</div>
        <div class="col-md-8">Lamy</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br/>
        </div>
    </div>
</div>

<div class="col-md-12">
    <small>
        CK Muhugames u.b.r. je fiktivní společnost úplně bez ručení zabývající se pořádáním šifrovacích víkendových her. Pro více
        informací můžete navštívit stránky minulých ročníků například na
        <a href="http://www.muhugame.cz" target="_blank">www.muhugame.cz</a>. Tímto se zříkáme veškeré odpovědnosti za problémy, které by mohly nastat díky nepochopení tohoto
        webu. Vaše Lamy.
    </small>
</div>