<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1>Kontakt:</h1>

            <h3>Cestovní kancelář MUHUGAMES, u.b.r.</h3>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">ředitel:</div>
                    <div class="col-md-3">Tomáš Zatrapa</div>
                </div>
                <div class="row">
                    <div class="col-md-2">tiskový mluvčí:</div>
                    <div class="col-md-3">Jiří Novák</div>
                </div>
                <div class="row">
                    <div class="col-md-2">delegáti:</div>
                    <div class="col-md-3">Jana Nováková, Lukáš Benda</div>
                </div>
                <div class="row">
                    <div class="col-md-2">email:</div>
                    <div class="col-md-3">
                        <a href="mailto:muhugame2018@gmail.com">muhugame2018@gmail.com</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br/>

                    </div>
                </div>
            </div>

            <small>
                CK Muhugames u.b.r. je fiktivní společnost úplně bez ručení zabývající se pořádáním šifrovacích víkendových her. Pro více
                informací můžete navštívit stránky minulých ročníků například na www.muhugame. cz. Tímto se zříkáme veškeré
                odpovědnosti za problémy, které by mohly nastat díky nepochopení tohoto webu. Vaše Lamy.
            </small>
        </div>
    </div>

</div>