<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1>Katalog:</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3>Zájezd MG2018: Víkendový pobyt v Zóně s piknikem:</h3>
            <blockquote>
                <cite>Navštivte místa, kam směli vstoupit v posledních letech jen vyvolení, ceny již od 4600,- Kč (pro čtyři osoby
                    s polopenzí).</cite>
            </blockquote>

            <article>
                <section>
                    <h4>Program zájezdu?
                        <small>prohlídka Zóny</small>
                    </h4>
                    <p>Podrobnější informace o víkendu budou zveřejněny v Pokynech/Pravidlech nejpozději měsíc před víkendem
                        <a [routerLink]="['/instructions']">viz zde</a>.</p>
                </section>

                <section>
                    <h4>Datum a čas konání?
                        <small>pátek 14. 9. 2018 až neděle 16.9.2018</small>
                    </h4>
                    <p>Přesnější časový harmonogram příjezdu týmů bude zveřejněn nejpozději 14 dní před akcí, předpokládaný
                        začátek úvodního večera je cca 20:00.</p>
                </section>

                <section>
                    <h4>Místo konání?
                        <small>zóna, cca do 150 km severně od Prahy, dojezd max 2 hodiny</small>
                    </h4>
                    <p>
                        Přesné místo konání bude zveřejněno nejpozději 14 dní před akcí.
                    </p>
                </section>

                <section>
                    <h4>Kapacita?
                        <small>36 týmů</small>
                    </h4>
                    <p>
                        Po vyčerpání aktuální kapacity se týmy mohou zaregistrovat jako náhradníci, kapacita může být za příznivých podmínek rozšířena
                        a týmy pod čarou budou včas kontaktovány naším delegátem Ubytování/stravování/služby : Každý tým
                        bude ubytován dle svého výběru ve vlastním pokoji / chatce pro až 4 osoby v areálu poblíž Zóny (povlečení
                        je v ceně, sociální zařízení a sprchy jsou v budově, resp. v případě ubytování v chatkách v areálu).
                        Na místě je možné si za dodatečný poplatek zapůjčit přímotop. Polopenze obsahuje 2 večeře (možnost
                        výběru ze dvou jídel) a 2 snídaně formou švédských stolů (resp. snídaňový balíček). Pokud má tým
                        speciální požadavek na zajištění stravy/ ubytování napište tento požadavek do poznámky při registraci,
                        dle možností se ho pokusíme vyřešit.
                    </p>
                </section>

                <section>
                    <h4>Cena?
                    </h4>
                    <p>
                        Startovné:
                        <b>1200,- Kč/tým</b>
                    </p>
                    <p>Ubytování s polopenzí (2x nocleh, 2x večeře, 2x snídaně/balíček):</p>
                    <ul>
                        <li type="A">
                            <b>850,- Kč/osoba</b> - ubytování v chatce
                        </li>
                        <li type="A">
                            <b>1000,- Kč/osoba</b> – ubytování v pokoji v budově
                        </li>
                        <li>
                            <small>Pro variantu B v případě nutnosti existuje možnost doobjednání ubytování s polopenzí až pro 2
                                členy doprovodu týmu, při tomto požadavku prosím kontaktujte organizátory.
                            </small>
                        </li>
                    </ul>
                    <p>
                        Tričko (volitelně):
                        <b>250,- Kč/kus</b>
                    </p>
                    <ul>
                        <li>
                            Pánské/dámské, barva černá, velikosti: S, M, L, XL, XXL.
                        </li>
                    </ul>

                    <p>
                        <i>
                            Příklad výpočtu ceny pro čtyřčlenný tým s ubytováním v budově, který si objedná 3 trička: tým zaplatí celkem 5900,- Kč =
                            1200 registrace + 4 x 1000 ubytování + 3 x 250 trička.
                        </i>
                    </p>
                </section>

                <section>
                    <h4>Termín registrace?
                        <small>registrační formulář
                            <a [routerLink]="['/registration']">viz zde</a>
                        </small>
                    </h4>
                    <p>
                        Spuštění registrací - <b>6.6. 2018 20:00</b>
                    </p>
                    <p>
                        Ukončení registrací - <b>20.7. 2018</b> (nebo do vyčerpání kapacity)
                    </p>
                </section>

                <section>
                    <h4>Platební podmínky?
                        <small>nezaplacení do uvedeného termínu může být důvodem zrušení registrace</small>
                    </h4>
                    <p>
                        Číslo účtu:
                        <b>670100-2215359802/6210</b>
                    </p>
                    <p>Termín obdržení platby: nejpozději do <b>25.7. 2018</b></p>
                    <p>
                        Do zprávy pro příjemce vždy uveďte název týmu!
                    </p>
                </section>

                <section>
                    <h4>
                        Storno podmínky?
                        <small></small>
                    </h4>
                    <p>
                        V případě odhlášení týmu měsíc a méně před samotnou hrou (tj. do 14.8.2018) propadá nárok týmu na vrácení startovného. Při
                        odhlášení na poslední chvíli, bez doložení závažného důvodu, si organizátor vyhrazuje právo nevrátit
                        týmu i náklady, které mu budou fakturovány ze strany provozovatele objektu v souvislosti s ubytováním
                        a stravou.
                    </p>
                </section>

                <section>
                    <h4>
                        Všeobecné smluvní podmínky CK MUHUGAMES?
                        <small></small>
                    </h4>
                    <p>
                        Před odjezdem na zájezd se důkladně seznamte se všemi informacemi a pokyny na tomto webu. Jejich prostudováním získáte lepší
                        přehled o právech a povinnostech cestovní kanceláře i jejích klientů a vyhnete se případným nedorozuměním,
                        nejasnostem či problémům.
                    </p>
                </section>
            </article>
        </div>

    </div>
</div>