<!DOCTYPE html>
<html style="height: 100%; margin:0; padding:0;">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <base href="/">
  <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico">
  <%= htmlWebpackPlugin.files.webpackManifest %>
</head>

<body style="background-color: black; height: 100%; margin:0; padding:0;">
  <app>
    Loading...
  </app>
</body>

</html>