table {
    font-size: 10pt !important;
    word-wrap: break-word;
}

tr:nth-child(even) {
    background: #636363
}

tr:nth-child(odd) {
    background: transparent
}

#header-left {
    position: absolute;
    top: 0%;
    left: 0%;
    font-family: Stalker;
}

#header-right {
    position: absolute;
    top: 0%;
    right: 0%;
}

#footer-left {
    position: absolute;
    bottom: 0%;
    left: 0%;
}

#footer-right {
    position: absolute;
    bottom: 0%;
    right: 0%;
}

@font-face {
    font-family: 'Stalker';
    src: url(../../fonts/AmazS.T.A.L.K.E.R.v.3.0.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}