<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1>Týmy:</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3>Je přihlášeno celkem
                <b>{{members}}</b> účastníků v
                <b>{{teams}}</b> týmech.</h3>

            <p>Maximální počet registrací je
                <b>36</b>, týmy nad tento počet se mohou registrovat jako náhradníci.</p>
            <br/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <b>Pořadí:</b>
        </div>
        <div class="col-md-2">
            <b>Název týmu:</b>
        </div>
        <div class="col-md-1">
            <b>Členů:</b>
        </div>
        <div class="col-md-4">
            <b>Seznam členů:</b>
        </div>
        <div class="col-md-2">
            <b>Čas registrace:</b>
        </div>
        <div class="col-md-1">
            <b>Zaplaceno:</b>
        </div>
    </div>

    <div *ngFor="let user of users">
        <div class="row">
            <div class="col-md-1" [ngClass]="{ 'green': user.id <= 36, 'red': user.id > 36 }">
                {{user.id}}
            </div>
            <div class="col-md-2">
                {{user.name}}
            </div>
            <div class="col-md-1">
                {{user.members | arrayLength }}
            </div>
            <div class="col-md-4">
                {{user.members | memberNames }}
            </div>
            <div class="col-md-2">
                {{user.registrationDate | date:'dd.MM.yyyy HH:mm:ss' }}
            </div>
            <div class="col-md-1">
                {{user.paid | questionableBoolean}}
            </div>
        </div>
    </div>

</div>