<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1>Týmy:</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3></h3>
            <!-- <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Pořadí</th>
                        <th scope="col">Jméno týmu</th>
                        <th scope="col">Členové</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                </tbody>
            </table> -->
        </div>
    </div>

</div>