<div class="row" *ngIf="!simplified">
    <div class="col-lg-12">
        <h1>Týmy:</h1>
    </div>
</div>

<busy-indicator [isBusy]="isBusy"></busy-indicator>

<div *ngIf="!isBusy">
    <div class="row" *ngIf="!simplified">
        <div class="col-lg-12">
            <h3>Je přihlášeno celkem
                <b>{{members}}</b> účastníků v
                <b>{{teams}}</b> týmech.</h3>

            <p>Maximální počet registrací je
                <b>36</b>, týmy nad tento počet se mohou registrovat jako náhradníci.</p>

            <p>Týmy označené
                <span style="color: green">
                    <b>zeleně</b>
                </span> již uhradily startovné.</p>
            <br/>
        </div>
    </div>

    <table class="table borderless" [class.table-hover]="!isReadOnly">
        <thead>
            <tr>
                <th class="text-center" style="padding-right: 10px">#</th>
                <th>NÁZEV TÝMU</th>
                <th *ngIf="!simplified">POČET ČLENŮ</th>
                <th *ngIf="!simplified">SEZNAM ČLENŮ</th>
                <th *ngIf="!simplified">ČAS REGISTRACE</th>
                <th>ZAPLACENO</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users let i = index" (click)="setClickedRow(i)" [class.active]="!isReadOnly && i == selectedRow"
                [ngClass]="{ 'limit': user.index == appSettings.maxTeams }">
                <td class="text-center" style="padding-right: 10px" [ngClass]="{ 'green': !!user.index && !user.index && user.index <= appSettings.maxTeams, 'red': !!user.index && user.index > appSettings.maxTeams }">{{user.index}}</td>
                <td [ngClass]="{ 'green': user.paid, 'quited': user.quited }">{{user.name}}</td>
                <td [ngClass]="{ 'quited': user.quited }" *ngIf="!simplified">{{user.members | arrayLength }}</td>
                <td [ngClass]="{ 'quited': user.quited }" *ngIf="!simplified">{{user.members | memberNames }}</td>
                <td [ngClass]="{ 'quited': user.quited }" *ngIf="!simplified">{{user.registrationDate | date:'dd.MM.yyyy HH:mm:ss' }}</td>
                <td [ngClass]="{ 'quited': user.quited }" class="text-center" [class.green]="user.paid">{{user.paid | questionableBoolean}}</td>
            </tr>
        </tbody>
    </table>
</div>