@import "_spinner";
@import "_variables";
@import "_buttons";
$vg-font-path: "/assets/fonts/";
@import "_videogular";
$icon-font-path: "/assets/fonts/";
$fa-font-path: "/assets/fonts/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import '../../../node_modules/sweetalert2/dist/sweetalert2';
@import "~@ng-select/ng-select/themes/default.theme";

@font-face {
    font-family: 'MyUnderwood';
    src:url(/assets/fonts/MyUnderwood.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpecialElite';
    src:url(/assets/fonts/SpecialElite.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'atwriter';
    src:url(/assets/fonts/atwriter.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stalker';
    src:url(/assets/fonts/AmazS.T.A.L.K.E.R.v.3.0.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid $color-validation-ok;
}

.ng-invalid:not(form) {
    border-left: 5px solid $color-validation-error;
}

/* unvisited link */
a:link {
    color: $color-white;
    font-weight: bold;
}

/* visited link */
a:visited {
    color: $color-white;
}

/* mouse over link */
a:hover {
    color: $color-grey;
}

/* selected link */
a:active {
    color: $color-darkgrey;
}