@import '../../../../assets/sass/_variables';

footer {
    width: 100%;
    text-align: right;
}
hr.delimiter {
    background-color: $color-green;
    margin-top: 20px;
    margin-bottom: 2px;
    padding: 0px;
    border: 0px;
    height: 2px;
}