<div class="row">
    <div class="col-lg-12">
        <h1>Novinky:</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>3. října 2018</h4>
        <p>
            Byly zveřejněny <a [routerLink]="['/ciphers']">šifry</a> a řešení.
        </p>
    </div>

    <div class="col-lg-12">
        <h4>19. září 2018</h4>
        <p>
            Byly zveřejněny <a [routerLink]="['/results']">výsledky</a> a <a href="public/presentation" target="_blank">závěrečná
                prezentace</a>, nyní již 100% autorizované a zkontrolované. Tímto bychom
            se také chtěli omluvit, že se nám do prvních výsledků ze Zóny zatoulala malinká anomálie, která způsobovala
            nekorektní počítání bodů v případě, že si tým bral nápovědu a řešení. Toto již bylo napraveno a některé
            týmy budou příjemně překvapeny, některé naopak. Pořadí na prvních devíti místech naštěstí nebylo ovlivněno.
        </p>
    </div>

    <div class="col-lg-12">
        <h4>5. září 2018</h4>
        <p>
            Zveřejněny pokyny pro účastníky zájezdu do Zóny (<a href="assets/docs/MG18-pokyny-k-zajezdu.docx" target="_blank">zde</a>).
        </p>
    </div>

    <div class="col-lg-12">
        <h4>3. září 2018</h4>
        <p>
            Zveřejněno video s dodatečnými informacemi o Zóně (<a [routerLink]="['/media/about-zone']">zde</a>).
        </p>
    </div>

    <div class="col-lg-12">
        <h4>17. června 2018</h4>
        <p>
            Zveřejněn design triček. Trička je stále možné přiobjednat v
            <a [routerLink]="['/login']">autorizované sekci vašeho týmu</a>. Klikněte na obrázky pro zvětšení...
        </p>

        <div class="text-center">
            <img class="rounded" src="/assets/images/tshirt-men.jpg" (click)="openModal(tshirtMen)" />
            <img class="rounded" src="/assets/images/tshirt-women.jpg" (click)="openModal(tshirtWomen)" />
        </div>
    </div>

    <ng-template #tshirtMen>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Tričko pánské</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <img class="rounded-modal" src="/assets/images/tshirt-men.jpg" (click)="modalRef.hide()" />
        </div>
    </ng-template>

    <ng-template #tshirtWomen>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Tričko dámské</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <img class="rounded-modal" src="/assets/images/tshirt-women.jpg" (click)="modalRef.hide()" />
        </div>
    </ng-template>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>6. června 2018</h4>
        <p>Registrace byla spuštěna
            <a [routerLink]="['/registration']">zde</a>, přehled již přihlášených týmů je k dispozici
            <a [routerLink]="['/participants']">zde</a>.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>4. června 2018</h4>
        <p>Zveřejněno propagační video k zájezdu Víkendový pobyt v Zóně s piknikem (
            <a [routerLink]="['/media/zone-teaser']">zde</a>).</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>30. května 2018</h4>
        <p>Zveřejněny základní informace o novém zájezdu MG2018 Víkendový pobyt v Zóně s piknikem (
            <a [routerLink]="['/catalogue']">zde</a>) a základní pokyny pro účastníky (
            <a [routerLink]="['/instructions']">zde</a>). Registrace bude spuštěna ve středu 6. června 2018 ve 20:00 (
            <a [routerLink]="['/registration']">zde</a>).</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>16. dubna 2018</h4>
        <p>První prohlídky Zóny potvrzeny na víkend 14.-16. 9. 2018, registrace na ně proběhnou na přelomu května a
            června
            letošního roku. Více informací viz tisková konference ředitele společnosti
            <a [routerLink]="['/media']">zde</a>.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>1. dubna 2018</h4>
        <p>Oznamujeme spuštění nového webu (jeho původní verzi najdete
            <a href="http://www.muhugame.cz" target="_blank">zde</a>).</p>
    </div>
</div>