<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1>Novinky:</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3>30. května 2018</h3>
            <p>Zveřejněny základní informace o novém zájezdu MG2018 <b>Víkendový pobyt v Zóně s piknikem</b> (<a [routerLink]="['/catalogue']">viz zde</a>) 
            a <b>základní pokyny pro účastníky</b> (<a [routerLink]="['/instructions']">viz zde</a>). Registrace bude spuštěna ve středu <b>6. června 2018 ve 20:00</b> (<a [routerLink]="['/registration']">viz zde</a>).</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3>16. dubna 2018</h3>
            <p>První prohlídky Zóny potvrzeny na víkend 14.-16. 9. 2018, registrace na ně proběhnou na přelomu května a června letošního roku.
            Více informací viz tisková konference ředitele společnosti
            <a [routerLink]="['/media']">zde</a>.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3>1. dubna 2018</h3>
            <p>Oznamujeme spuštění nového webu (jeho původní verzi najdete
                <a href="http://www.muhugame.cz" target="_blank">zde</a>).</p>
        </div>
    </div>

</div>